<html>
   <body>
      <h1>New Message</h1>
      <form method="POST" action="/new"">
         <input type="text" placeholder="Name" name="name">
         <input type="text" placeholder="Message" name="message">
         <input type="submit" value="submit">
      </form>
   </body>
</html>